/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
img{
    max-width: 100% 
}


/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin:0 auto;
}
@media(max-width:786px){
    .container{
        width: 95%;
    }
}
.btn{
    display: block;
    background-color:  orangered;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}


/*header*/
.site-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 450px;
    text-align: center;
    color: rgb(208, 176, 17);
}
.site-header a{
    color: goldenrod;
}
.bar-menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.menu a{
    margin-right: 30px;
}

@media(max-width:768px){
    .menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
.bar-menu{
    flex-direction: column;
    height: 200px;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu a{
    margin-bottom: 20px;
    text-align: center;
}
/*about*/
.container{
display: flexbox;
-ms-flex-align: stretch;
}
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-item{
    margin-right: 30px;
}
@media(max-width:768px){
    .about-container{
        flex-direction: column;
    }
    .about-item{
        margin-right: 0;
    }
    .about-item h3{
        text-align: center;
    }
    .about-item img{
        display: block;
        margin: 20px auto;
    }
    h2{
        text-align: center;
    }
}
/*houses*/
.houses-container{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    background-color: goldenrod;
}

.house-item{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #39245a;
    margin-left: 50px;
    margin-bottom: 10px;
}

.an-item-img{
    width: 100%;
    height: auto;
}
.house-item-text{
    padding: 20px;
}
@media(max-width:768px){
    .houses-container{
        flex-direction: column;
    }
    .house-item{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .an-item-img{
        text-align: center;
    }
    .house-item-text{
        display: block;
        margin: 20px auto;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
.price{
    color: green;
    font-weight: bolder
}
.icon-container{
    display: flex;
}
    .icon-container img{
        margin-right: 20px;
    }
.icons-list{
        display: flex;
        justify-content: space-between;
}


/*contact*/

.contact-header{
    background-color: orange;
    color: black;
    min-height: 300px;
}
.contact-header a{
    color: black;
}
.form-container{
    background-color: rgb(95, 233, 31);

}
.form-control{
align-content: flex-end;
justify-content: space-around;
}


/*form container*/
.form-container{
background-color: orangered;
padding: 20px;
border-radius: 15px;
}

.legend{
    font-size: 12px;
}
.fieldset{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}
.form-control{
    background-color: blueviolet;
    margin-bottom: 20px;
}
.form-control input, .form-control textarea{
    background-color: green;
    border: none;
    width: 70%;
    padding: 5px;
    border-radius: 3px;
}
.form-control label{
    display: inline-block;
    width: 150px;
}
.Date-Hour-Container{
    display: inline-flexbox;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: #dedede;
    height: 300px;
    align-items: center;
    margin-top: 50px;
}


/*icons*/
.icons-list{

}
.icon-container{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 67%;
    width: 20px;
    padding: 10pxt;
    margin-right: 20px;

}

.privacy-text{
    display: flex;
    color: black;
}
.privacy-text p:last-of-type{
border-left: 3px solid black;
padding-left: 10px;
margin-left: 10px;
text-decoration: underline;
font-weight: 900;
}

/*FONT CHANGE*/
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  